@charset "utf-8";

/* Match the DOM elements with the same name. */


body
{
    background-color: black;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Verdana, Geneva, sans-serif, serif
}

legend {color: white}



h1 {color: white}

/* unvisited link */
a {
    color: yellow;
  }
  
  a:link {
    color: yellow;
  }
  
  /* visited link */
  a:visited {
    color: red;
  }
  
  /* mouse over link */
  a:hover {
    color: yellow;
  }
  
  /* selected link */
  a:active {
    color: white;
  }

h2, h3, h4 {color: yellow};

input {
    font-weight: bold;
    color: black
}

button {
    background-color: blue;
    color: yellow
}

table, th, td {
    border: 1px solid black;
}
/* .visible {visibility: visible} */

/* .hidden {visibility: hidden} */

