<!DOCTYPE html>

{% extends "base.html" %}

{% block head %}
{{ super() }}


<script src="https://d3js.org/d3.v6.min.js" charset="utf-8"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}

{% block title %}GDP{% endblock %}

{% block body %}
{{ super() }}
<script>
    // Define global variable dataset
    dataset = []
    year = 2020
    years = []
    resize = true
    svg_row = {}
    svg_row.width = 500
    svg_row.height = 500
    svg = null
    quarterly_gdp = []
    top_margin = 1 - 0.05
    left_margin = 0.05
    right_margin = 0.05
    bottom_margin = 1.00 - 0.05 // start here
    scale_period = null
    scale_period = null
    x_axis = d3.axisBottom()
    y_axis = d3.axisRight()
    y_axis_scale = null
    begin_year = 2016
    end_year = 2020
    years = []
    scale_text = "placeholder"
    max_value = 0

    // Get Bureau of Economic Statistics data.
    function bureau_of_economic_analysis() {

        var xmlhttp = new XMLHttpRequest()
        url = "/bureau_of_economic_analysis"

        // Build the SVG when a valid response is returned.
        xmlhttp.onreadystatechange = function () {

            if (this.readyState == 4 && this.status == 200) {

                // Convert json response text to a response dictionary.
                quarters = JSON.parse(this.responseText)

                // Define the dataset.
                dataset = []

                if (begin_year >= end_year) {
                    begin_year = end_year - 1
                }
                var begin_quarter = begin_year.toString() + "Q1"
                var end_quarter = end_year.toString() + "Q4"

                if (false) {
                    console.log(" ")
                    console.log("onreadystatechange:")
                    console.log("begin_quarter:", begin_quarter, "end_quarter:", end_quarter)
                }

                // Loop through the quarters.
                for (quarter_index in quarters) {
                    quarter = quarters[quarter_index]
                    var time_period = quarter["period"]
                    if (time_period < begin_quarter) {
                        continue
                    }
                    if (time_period > end_quarter) {
                        continue
                    }
                    child = {}
                    child["period"] = quarter["period"]
                    child["value"] = parseFloat(quarter["value"])
                    child["president"] = quarter["president"]
                    child["color"] = quarter["color"]
                    dataset.push(child)
                }

                if (resize) {
                    create_svg()
                } else {
                    update_svg()
                }
            }
        };

        // Send the request and wait for the valid response.
        d3.select("#status_heading").text("Loading Data")
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }

    function create_quarterly_gdp() {

        d3.select("h1").text("Bureau of Economic Statistics")

        // Initialize monthly sales.
        quarterly_gdp = []

        // Calculate the vertical scale based on sales volume and row height.
        max_value = d3.max(dataset, function (d) { return d["value"] })
        var min_value = d3.min(dataset, function (d) { return d["value"] })
        scale_value = d3.scaleLinear()
            .domain([min_value, max_value])
            .rangeRound([(svg_row.height * top_margin), 0])
        y_axis_scale = d3.scaleLinear()
            .domain([min_value, max_value])
            .rangeRound([(svg_row.height * top_margin), 0])

        if (false) {
            console.log(" ")
            console.log("create_quarterly_gdp:")
            console.log("min_value:", min_value, "max_value", max_value)
            console.log("scale_value(min_value):", scale_value(min_value), "scale_value(max_value):", scale_value(max_value))
            console.log("y_axis_scale(min_value):", y_axis_scale(min_value), "y_axis_scale(max_value):", y_axis_scale(max_value))
        }

        // Calculate the horizontal scale based on year and row width.
        // Last date would be positioned at the edge of the svg.
        // By reducing the svg_row width by one datum, the last bar will be in the svg.
        var max_period = d3.max(dataset, function (d) { return d["period"] })
        var min_period = d3.min(dataset, function (d) { return d["period"] })
        var left_margin_width = svg_row.width * left_margin
        var right_margin_width = svg_row.width * right_margin

        domain_period = []
        for (dataset_index in dataset) {
            period = dataset[dataset_index]["period"]
            domain_period.push(period)
        }

        range_period = [left_margin_width, (svg_row.width * (dataset.length / (dataset.length + 1))) - right_margin_width]

        scale_period = d3.scaleBand()
            .domain(domain_period)
            .rangeRound(range_period)

        if (false) {
            console.log(" ")
            console.log("create_quarterly_gdp:")
            console.log("min_period:", min_period, "max_period:", max_period)
            console.log("domain_period:", domain_period, "range_period:", range_period)
            console.log("scale_period[min_period]:", scale_period[min_period], "scale_period[max_period]:", scale_period[max_period])
        }

        for (var i = 0; i < dataset.length; i++) {

            // Create datum of annual debt.
            var d = {}

            // Bar dimensions
            // The svg height is 500.  The zero value is at 250, from which all rectangles start.
            //
            // If the value is negative, then the rectangle extends down from 250.
            // If the value is positive, then the rectangle extends down from 250 minus height.

            var value = dataset[i]["value"]
            var zero_value = parseInt(scale_value(0))

            d["width"] = parseInt((svg_row.width / dataset.length * 0.8).toFixed(0))

            d["x"] = parseInt(scale_period(dataset[i]["period"]) + d["width"])
            d["width"] -= 4


            d["height"] = parseInt((scale_value(value)).toFixed(0))

            if (min_value < 0) {
                if (value < 0) {
                    d["height"] -= zero_value
                    d["y"] = zero_value
                } else {
                    d["y"] = d["height"]
                    d["height"] = (zero_value - d["y"])
                }
            } else {
                d["height"] = parseInt(((svg_row.height * bottom_margin) - d["height"]).toFixed(0))
                d["y"] = parseInt((svg_row.height * bottom_margin).toFixed(0)) - d["height"]
            }

            // d["y"] = parseInt(scale_value(dataset[i]["value"]))
            d["president"] = dataset[i]["president"]
            d["color"] = dataset[i]["color"]

            // Bar text
            d["text_x"] = d.x + d.width / 2;
            d["text"] = dataset[i]["value"].toFixed(1)

            d["period"] = dataset[i]["period"]
            d["value"] = dataset[i]["value"]

            // Horizontal sales date 
            quarterly_gdp.push(d)
        }
    }

    function create_svg() {

        // Remove the prior svg.
        x = document.getElementById("svg")
        if (x) {
            d3.select("#svg").remove()
        }

        // Create the a placeholder svg to get row dimensions.
        var column = d3.select("#svgColumn")
        svg = column.append("svg")
            .attr("width", 500)
            .attr("height", 500)
            .attr("id", "placeholder")

        // svg_row.width = document.getElementById("svg_row").offsetWidth
        // svg_row.height = document.getElementById("svg_row").offsetHeight
        svg_row.width = parseInt((document.getElementById("svg_row").getBoundingClientRect().width).toFixed(0))
        svg_row.height = parseInt((document.getElementById("svg_row").getBoundingClientRect().height).toFixed(0))

        d3.select("#placeholder").remove();

        // Create the svg using the column dimensions.
        var row = d3.select("#svg_row")
        var column = row.select("#svgColumn")
        svg = column.append("svg")
            .attr("width", svg_row.width)
            .attr("height", svg_row.height)
            .attr("id", "svg")
        x = document.getElementById("svg")
        if (!x) {
            console.log("failed to created svg.")
        }

        // Create attributes from the dataset.
        // Create chart attributes based on raw sales data and visualization attributes.
        // This takes more memory.  Simpler code during plotting.  Calculate only once.
        // Centralize calculations.
        create_quarterly_gdp()

        // Create bars from the array of attributes.
        svg.selectAll(".bar_chart")
            .data(quarterly_gdp)
            .enter()
            .append("rect")                                                 // Bar chart.
            .attr("x", function (d) { return d.x; })                        // Spaced based on sales datate.
            .attr("y", function (d) { return d.y; })
            .attr("width", function (d) { return d.width; })                // Fatten the rectangles to fill the view port.
            .attr("height", function (d) { return d.height; })
            .attr("class", "bar_chart")                                     // Used for selection.
            .style("fill", function (d) { return d.color; })  // Set the color of the bar.

        // Add data labels from the array of attributes.
        var data_labels = svg.selectAll(".data_label").data(quarterly_gdp)

        // Add data labels.
        data_labels
            .enter()
            .append("text")
            .attr("text-anchor", "middle")
            .text(function (d) { return d.text; })
            .attr("x", function (d) { return d.text_x; })
            .attr("y", function (d) { return d.y + 24; })   // Slide the label down 18 pixels from the top o the bar.                        
            .attr("font-family", "sans-serif")              // Looks clearner.
            .attr("font-size", 12)
            .attr("class", "data_label")                    // Used for selection.
            .style("fill", "white")

        // Add president labels from the array of attributes.
        var president_labels = svg.selectAll(".president_label").data(quarterly_gdp)

        // Add president labels.
        president_labels
            .enter()
            .append("text")
            .attr("text-anchor", "middle")
            .text(function (d) {
                if (d.period.search("Q1") > -1) {
                    return d.president
                } else {
                    return " "
                }
            })
            .attr("x", function (d) { return d.text_x; })
            .attr("y", function (d) {
                var zero_value = scale_value(0)
                if (max_value < 0) {
                    if (d.value < 0) {
                        return zero_value - 10
                    } else {
                        return zero_value + 10
                    }
                } else {
                    return d.y - 10
                }
                // return d.y + 48; 
            })   // Slide the label down 18 pixels from the top o the bar.                        
            .attr("font-family", "sans-serif")              // Looks clearner.
            .attr("font-size", 12)
            .attr("class", "president_label")                    // Used for selection.
            .style("fill", "white")

        // Draw a line from the previous d to the current d.
        var lineFunc = d3.line()
            .x(function (d) { return d.text_x; })
            .y(function (d) {
                if (d.value < 0) {
                    return d.y + d.height
                } else {
                    return d.y
                }
            })

        // Draw a shape that is not predefined in anyother of the commands.
        // Pass the data to the lineFunc and let it draw the line.
        var viz = svg.append("path")
            .attr("d", lineFunc(quarterly_gdp))
            .attr("class", "line_chart")        // Used for selection.
            .attr("stroke", "yellow")
            .attr("stroke-width", 2)
            .attr("fill", "none")

        // Add scatter plot data points from the array of attributes.
        var data_points = svg.selectAll(".scatter_plot").data(quarterly_gdp)

        // Add data points for the scatter plot.
        data_points.enter()
            .append("circle")
            .attr("cx", function (d) { return d.text_x; })  // Center the circle to the horizontal center of a bar.
            .attr("cy", function (d) {
                if (d.value < 0) {
                    return d.y + d.height
                } else {
                    return d.y
                }
            })       // Center the circle to the top of a bar.
            .attr("r", 5)
            .attr("fill", "yellow")
            .attr("class", "scatter_plot")                  // Used for selection.

        // Add bottom axis.
        x_axis.scale(scale_period)
        leftPosition = parseInt((quarterly_gdp[0]["width"]).toFixed(0))
        // leftPosition = parseInt((quarterly_gdp[0]["width"] / 2).toFixed(0))
        svg.append("g")
            .attr("id", "x_axis_g")
            .attr("class", "x_data_axis")     // Used for selection.
            .attr("transform", "translate(" + leftPosition + "," + (svg_row.height * bottom_margin) + ")")
            .call(x_axis
                .ticks(quarterly_gdp.length))

        // Add vertical axis.
        y_axis.scale(y_axis_scale)
        top_position = 0
        svg.append("g")
            .attr("id", "y_axis_g")
            .attr("class", "y_data_axis")
            .attr("transform", "translate(0," + top_position + ")")
            .call(y_axis)

        // Draw table of sales data.
        // Do not draw table it it already exists.
        // Limit the height of the column so the scroll bars are enabled.
        x = document.getElementById("table_row")
        if (x) {
            console.log("table_row exists.")
        } else {
            // Create heading row.
            var headingRow = container.append("div")
                .attr("class", "row")
                .attr("id", "headingRow")
            headingRow.append("div")
                .attr("class", "col-sm-3")
                .append("legend")
                .text("Instructions")
            headingRow.append("div")
                .attr("class", "col-sm-2")
                .append("fieldset")
                .append("legend")
                .text("Begin Year")
            headingRow.append("div")
                .attr("class", "col-sm-2")
                .append("fieldset")
                .append("legend")
                .text("End Year")
            headingRow.append("div")
                .attr("class", "col-sm-3")
                .append("fieldset")
                .append("legend")
                .text("Visualizations")

            // Create table row.
            var table_row = container.append("div")
                .attr("class", "row")
                .attr("id", "table_row")

            // Add columns to the table row.
            var instruction_column = table_row.append("div")
                .attr("class", "col-sm-3")
                .attr("id", "instruction_column")
                .attr("style", "color:white; font-family:sans-serif; overflow-y:auto; height:15em; ")
            var begin_year_column = table_row.append("div")
                .attr("class", "col-sm-2")
                .attr("style", "color:white; font-family:sans-serif; overflow-y:auto; height:15em; ")
            var end_year_column = table_row.append("div")
                .attr("class", "col-sm-2")
                .attr("style", "color:white; font-family:sans-serif; overflow-y:auto; height:15em; ")
            var visualization_column = table_row.append("div")
                .attr("class", "col-sm-3")
                .attr("style", "color:white; font-family:sans-serif; overflow-y:auto; height:15em; ")

            // Populate the Instructions unorder list of the table row.
            var instructions = [
                "Wait until the data has been loaded and a chart has rendered.",
                "Select Begin Year.",
                "Select End Year.",
                "Wait for chart to render.",
                "Select Visualization.",
            ]
            var ul = instruction_column.append("ul")
            ul.selectAll("li")
                .data(instructions)
                .enter()
                .append("li")
                .html(function (d) { return "<h4>" + d + "</h4>" })

            // Create years for the begin and end year tables.
            years = []
            year = 1947
            while (year < 2021) {
                years.push(year)
                year++
            }

            // Populate the Begin Year column of the table row.
            var begin_year_table = begin_year_column.append("table")
                .attr("class", "table")
                .attr("id", "begin_year_table")
            var begin_year_tbody = begin_year_table.append("tbody")
            begin_year_tbody.selectAll("tr")
                .data(years)
                .enter()
                .append("tr")
                .append("td")
                .append("input")
                .attr("type", "radio")
                .attr("checked", null)
                .attr("name", "begin_year")
                .attr("id", function (d, i) { return "begin_year_" + d })
            begin_year_tbody.selectAll("td")
                .data(years)
                .append("label")
                .attr("for", function (d) { return "begin_year_" + d })
                .html(function (d) { return d })
            begin_year_tbody.selectAll("input")
                .data(years)
                .on('click', function (d) {
                    if (this.checked) {
                        begin_year = d.target.labels[0].innerText
                    }
                })

            // Populate the End Year column of the table row.
            var end_year_table = end_year_column.append("table")
                .attr("class", "table")
                .attr("id", "end_year_table")
            var end_year_tbody = end_year_table.append("tbody")
            end_year_tbody.selectAll("tr")
                .data(years)
                .enter()
                .append("tr")
                .append("td")
                .append("input")
                .attr("type", "radio")
                .attr("checked", null)
                .attr("name", "end_year")
                .attr("id", function (d, i) { return "end_year_" + d })
            end_year_tbody.selectAll("td")
                .data(years)
                .append("label")
                .attr("for", function (d) { return "end_year_" + d })
                .html(function (d) { return d })
            end_year_tbody.selectAll("input")
                .data(years)
                .on('click', function (d) {
                    if (this.checked) {
                        end_year = d.target.labels[0].innerText
                        startUpdate()
                    }
                })

            // Position on the last rows of the Begin Year and End Year tables
            var last_position = years.length - 1
            var rows = document.querySelectorAll("#end_year_table tr")
            rows[last_position].scrollIntoView({ alignToTop: false })
            rows = document.querySelectorAll("#begin_year_table tr")
            rows[last_position - 11].scrollIntoView({ alignToTop: false })

            // Populate the visualization table of the table row.
            // First time through the visualizations, add the visualizations.
            // Second time through the dataset, add the event listener.
            var visualizations = [
                ["Bar Chart", "checkbox_bar_chart", "bar_chart"],
                ["Line Chart", "checkbox_line_chart", "line_chart"],
                ["Labels", "checkbox_data_label", "data_label"],
                ["Presidents", "checkbox_president_label", "president_label"],
                ["Scatter Plot", "checkbox_scatter_plot", "scatter_plot"],
                ["x Axis", "checkbox_x_data_axis", "x_data_axis"],
                ["y Axis", "checkbox_y_data_axis", "y_data_axis"]
            ]
            var visualization_table = visualization_column.append("table")
                .attr("class", "table")
            var visualization_tbody = visualization_table
                .append("tbody")
                .attr("id", "visualization_tbody")
            visualization_tbody.selectAll("tr")
                .data(visualizations)
                .enter()
                .append("tr")
                .append("td")
                .append("input")
                .attr("type", "checkbox")
                .attr("checked", true)
                .attr("name", function (d) { return d[2] })
                .attr("id", function (d) { return d[1] })
            visualization_tbody.selectAll("td")
                .data(visualizations)
                .append("label")
                .attr("for", function (d) { return d[1] })
                .html(function (d) { return d[0] })
            visualization_tbody.selectAll("input")
                .data(visualizations)   // bar_chart, line_chart, data_label, scatter_plot, data_axis
                .on('click', function (d) {
                    var chart_element = "." + d.target.name
                    if (this.checked) {
                        d3.selectAll(chart_element)
                            .classed("hidden", false)
                    } else {
                        d3.selectAll(chart_element)
                            .classed("hidden", true)
                    }
                })

        }

        // Select the radio buttons for range 2017 through 2020.
        d3.select("#status_heading").text("Annual Percent Change in GDP")
        document.getElementById("begin_year_" + begin_year).click()
        document.getElementById("end_year_" + end_year).click()
    }

    function update_svg() {

        // Create attributes from the dataset.
        // Create chart attributes based on raw debt data and visualization attributes.
        // This takes more memory.  Simpler code during plotting.  Calculate only once.
        // Centralize calculations.
        create_quarterly_gdp()

        // Update existing bars from the array of attributes.
        var bars = svg.selectAll("rect").data(quarterly_gdp)

        // Determine if the bars are hidden.
        var checkbox_bar_chart = document.getElementById("checkbox_bar_chart")
        if (checkbox_bar_chart.checked) {
            var class_string = "bar_chart"
        } else {
            class_string = "bar_chart hidden"
        }

        // Update existing bars.
        bars.transition()
            .duration(1000)
            .attr("x", function (d) { return d.x; })                    // Space evenly in the view port.
            .attr("y", function (d) { return d.y; })                    // Position at the top of the bar.
            .attr("width", function (d) { return d.width; })                // Fatten the rectangles to fill the view port.
            .attr("height", function (d) { return d.height; })              // Draw from the top of the bar down.
            .attr("class", class_string)
            .style("fill", function (d) { return d.color; })  // Set the color of the bar.

        // Add new bars from the array of attributes.
        bars.enter()
            .append("rect")                                                 // Bar chart.
            .transition()
            .duration(1000)
            .attr("class", class_string)
            .attr("x", function (d) { return d.x; })                    // Space evenly in the view port.
            .attr("y", function (d) { return d.y; })                    // Position at the top of the bar.
            .attr("width", function (d) { return d.width; })                // Fatten the rectangles to fill the view port.
            .attr("height", function (d) { return d.height; })              // Draw from the top of the bar down.
            .style("fill", function (d) { return d.color; })  // Set the color of the bar.

        // Remove the bars not in the array of attributes.
        bars.exit().remove()

        // Update existing data labels from array of attributes.
        var data_labels = svg.selectAll(".data_label").data(quarterly_gdp)

        // Determine if the data labels are hidden.
        var checkbox_data_label = document.getElementById("checkbox_data_label")
        if (checkbox_data_label.checked) {
            var class_string = "data_label"
        } else {
            class_string = "data_label hidden"
        }


        // Update existing data labels.
        data_labels.transition()
            .duration(1000)
            .text(function (d) { return d.text; })
            .attr("x", function (d) { return d.text_x; })
            .attr("y", function (d) {
                if (d.y > ((500 * bottom_margin) - 24)) {
                    return d.y - 24
                } else {
                    return d.y + 24;
                }
            })
            .attr("font-family", "sans-serif")              // Looks clearner.
            .attr("font-size", 12)
            .attr("class", class_string)                    // Used for selection.
            .style("fill", "white")

        // Add data labels.
        data_labels.enter()
            .append("text")
            .text(function (d) { return d.text; })
            .attr("text-anchor", "middle")
            .attr("x", function (d) { return d.text_x; })
            .attr("y", function (d) {
                if (d.y > ((500 * bottom_margin) - 24)) {
                    return d.y - 24
                } else {
                    return d.y + 24;
                }
            })
            .attr("font-family", "sans-serif")              // Looks clearner.
            .attr("font-size", 12)
            .attr("class", class_string)                    // Used for selection.
            .style("fill", "white")

        // Remove data labels.
        data_labels.exit().remove()

        // Update existing president labels from array of attributes.
        var president_labels = svg.selectAll(".president_label").data(quarterly_gdp)

        // Determine if the president labels are hidden.
        var checkbox_president_label = document.getElementById("checkbox_president_label")
        if (checkbox_president_label.checked) {
            var class_string = "president_label"
        } else {
            class_string = "president_label hidden"
        }

        // Update existing president labels.
        president_labels.transition()
            .duration(1000)
            .text(function (d) {
                if (d.period.search("Q1") > -1) {
                    return d.president;
                } else {
                    return " "
                }
            })
            .attr("x", function (d) { return d.text_x; })
            .attr("y", function (d) {
                var zero_value = scale_value(0)
                if (max_value < 0) {
                    if (d.value < 0) {
                        return zero_value - 10
                    } else {
                        return zero_value + 10
                    }
                } else {
                    return d.y - 10
                }
                // return d.y + 48; 
            })   // Slide the label down 18 pixels from the top o the bar.                        
            .attr("font-family", "sans-serif")              // Looks clearner.
            .attr("font-size", 12)
            .attr("class", class_string)                    // Used for selection.
            .style("fill", "white")

        // Add president labels.
        president_labels.enter()
            .append("text")
            .text(function (d) {
                if (d.period.search("Q1") > -1) {
                    return d.president
                } else {
                    return " "
                }

            })
            .attr("text-anchor", "middle")
            .attr("x", function (d) { return d.text_x; })
            .attr("y", function (d) {
                var zero_value = scale_value(0)
                if (max_value < 0) {
                    if (d.value < 0) {
                        return zero_value - 10
                    } else {
                        return zero_value + 10
                    }
                } else {
                    return d.y -10
                }
                // return d.y + 48; 
            })   // Slide the label down 18 pixels from the top o the bar.                        
            .attr("font-family", "sans-serif")              // Looks clearner.
            .attr("font-size", 12)
            .attr("class", class_string)                    // Used for selection.
            .style("fill", "white")

        // Remove president labels.
        president_labels.exit().remove()

        // Draw a line from the previous d to the current d.
        var lineFunc = d3.line()
            .x(function (d) { return d.text_x; })    // Draw the line segment to the horizontal center of a bar.
            .y(function (d) {
                if (d.value < 0) {
                    return d.y + d.height
                } else {
                    return d.y
                }
            })    // Draw the line segment to the top of a bar.

        // Draw a shape that is not predefined in anyother of the commands.
        // Pass the data to the lineFunc and let it draw the line.
        var viz = svg.select("path")
            .transition()
            .duration(1000)
            .attr("d", lineFunc(quarterly_gdp))
            .attr("stroke", "yellow")
            .attr("stroke-width", 2)
            .attr("fill", "none")

        // Update existing scatter plot from the array of attributes.
        var data_points = svg.selectAll(".scatter_plot").data(quarterly_gdp)

        // Determine if the data_points are hidden.
        var checkbox_scatter_plot = document.getElementById("checkbox_scatter_plot")
        if (checkbox_scatter_plot.checked) {
            var class_string = "scatter_plot"
        } else {
            class_string = "scatter_plot hidden"
        }

        // Update exising data points.
        data_points
            .transition()
            .duration(1000)
            .attr("class", class_string)
            .attr("cx", function (d) { return d.text_x; })   // Center the circle to the horizontal center of a bar.
            .attr("cy", function (d) {
                if (d.value < 0) {
                    return d.y + d.height
                } else {
                    return d.y
                }
            })   // Center the circle to the top of a bar.

        // Add data points.
        data_points
            .enter()
            .append("circle")
            .attr("cx", function (d) { return d.text_x; })   // Center the circle to the horizontal center of a bar.
            .attr("cy", function (d) {
                if (d.value < 0) {
                    return d.y + d.height
                } else {
                    return d.y
                }
            })   // Center the circle to the top of a bar.
            .attr("r", 5)
            .attr("fill", "yellow")
            .attr("class", class_string)                  // Used for selection.

        // Remove data points.
        data_points.exit().remove()

        var number_of_ticks = 5

        // Reposition the x axis.
        x_axis.scale(scale_period)
        leftPosition = parseInt((quarterly_gdp[0]["width"]).toFixed(0))
        // leftPosition = parseInt((quarterly_gdp[0]["width"] / 2).toFixed(0))
        svg.select("#x_axis_g")
            .attr("transform", "translate(" + leftPosition + "," + (svg_row.height * bottom_margin) + ")")
            .call(x_axis.ticks(number_of_ticks))

        // Reposition the y axis.
        y_axis.scale(y_axis_scale)
        top_position = 0
        svg.select("#y_axis_g")
            .transition()
            .duration(1000)
            .attr("transform", "translate(0," + top_position + ")")
            .call(y_axis)

        d3.select("#status_heading").text("Annual Percent Change in GDP")
    }

    function startUpdate() {
        resize = false;
        bureau_of_economic_analysis();
    }

    function startResize() {
        resize = true;
        bureau_of_economic_analysis();
    }

    // Using bootstrap, create row and column for the svg.
    var body = d3.select("body")
    body.attr("onresize", "startResize()")

    var container = body.append("div")
        .attr("class", "container-fluid")

    var status_row = container.append("div")
        .attr("class", "row")
        .attr("id", "status_row")

    status_row.append("h2")
        .attr("id", "status_heading")
        .text("Loading Data")

    var svg_row = container.append("div")
        .attr("class", "row")
        .attr("id", "svg_row")

    var column = svg_row.append("div")
        .attr("class", "col-sm-12")
        .attr("id", "svgColumn")

    startResize()

</script>
{% endblock %}