<!DOCTYPE html>

{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
{{ super() }}
<div class="container-fluid">
    <h3>Sandbox for D3.js</h3>
    <fieldset>
        <legend>Figure 3-12</legend>
    </fieldset>
    <svg width="50" height="50">
        <circle cx="25" cy="25" r="22" fill="blue" stroke="yellow" stroke-width="2" />
    </svg>
    <fieldset>
        <legend>Figure 3-12</legend>
    </fieldset>
    <svg width="50" height="50">
        <circle cx="25" cy="25" r="22" fill="blue" stroke="yellow" stroke-width="2" />
    </svg>
</div>
{% endblock %}