<!DOCTYPE html>

{% extends "base.html" %}

{% block head %}
{{ super() }}

<!-- Data Driven Documents -->
<script src="https://d3js.org/d3.v6.min.js" charset="utf-8"></script>

<!-- Leaflet.js -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="">
</script>

<meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}

{% block title %}Electoral College{% endblock %}

{% block body %}
{{ super() }}

<script src="../static/js/us-states.js"></script>

<script>

    // Define global variables.
    biden_total = 0
    trump_total = 0

    function create_map() {

        // Get the window dimensions so the map can be sized.
        var w = window.innerWidth.toString()
        var h = (window.innerHeight * 0.40).toString()

        // Remove the existing map row.
        var map_row = map_container.select("#map_row")
        if (map_row != null) {
            map_row.remove()
        }

        // Add the newly resize map row.
        var map_row = map_container.append("div")
            .attr("class", "row")
            .attr("id", "map_row")
            .style("width", w + "px")
            .style("height", h + "px")


        // Specify map parameters.
        // Did not use MapBox tiles for map, just the borders from geojson.
        var mapboxAccessToken = 'pk.eyJ1IjoicGh1bXBocmkiLCJhIjoiY2tnNGJ1NHBsMGRoNDMxcXNhemJieGdxeSJ9.FKo4lgDkbphPAFdxMK3Kog'
        var map = L.map('map_row').setView([37.8, -96], 4);

        // Load the states to the map.
        var geo_json_layer = L.geoJson(statesData, { attribution: "Map: Mike Bostock, Data:  archive.gov" })
            .addTo(map);

        // Add IDs to each of the svg paths.
        geo_json_layer.eachLayer(function (layer) {
            if (layer.feature.properties.name.includes("Congressional")) {
                layer._path.id = layer.feature.properties.name + " map"
            } else {
                layer._path.id = layer.feature.properties.name
            }
        });

        var svg = map_row.select("svg")
            .style("background-color", "black")

        svg.selectAll("path")
            .attr("fill-opacity", "0.0")
            .attr("stroke", "darkgrey")

        color_states()
    }

    // Recreate the map when the window is resized.
    var body = d3.select("body")
        .attr("onresize", "create_map()")

    // The map row is added and removed in the map container.
    var map_container = body.append("div")
        .attr("class", "container-fluid")
        .attr("id", "map_container")

    // Add results row under the svg.
    var results_row = body.append("div")
        .attr("class", "row")
        .attr("id", "results_row")

    // Add results column to results row.
    var results_column = results_row.append("div")
        .attr("class", "col-sm-6")
        .attr("id", "results_column")

    // Add reset column to results row.
    var reset_column = results_row.append("div")
        .attr("class", "col-sm-6")
        .attr("id", "reset_column")

    // Add reset checkbox to the reset column.
    reset_column.append("input")
        .attr("type", "button")
        .attr("value", "Reset")
        .attr("style", "color:black; background-color:darkgrey; ")
        .on("click", function (d) {
            localStorage.removeItem("control_values")
            create_map()
        });

    // Add the results table to the results column.
    var results_table = results_column.append("table")
        .attr("class", "table")
        .attr("id", "results_table")

    // Add headings to the results table.
    var results_thead = results_table.append("thead")
    var results_thead_tr = results_thead.append("tr")
    var biden_th = results_thead_tr.append("th")
        .style('color', 'lightblue')
        .text("Joe Biden")
    var trump_th = results_thead_tr.append("th")
        .style('color', 'red')
        .text("Trump")
    var total_th = results_thead_tr.append("th")
        .style("text-align", "right")
        .text("Total")

    // Add results to the results table.
    var results_tbody = results_table.append("tbody")
    var results_tbody_tr = results_tbody.append("tr")
    var biden_td = results_tbody_tr.append("td")
        .attr("id", "biden_td")
        .text("0")
    var trup_td = results_tbody_tr.append("td")
        .attr("id", "trump_td")
        .text("0")
    var total_td = results_tbody_tr.append("td")
        .attr("id", "total_td")
        .style("text-align", "right")
        .text("0")

    // Add the control heading row.  Resizing handled by D3.
    var control_heading_row = body.append("div")
        .attr("class", "row")
        .attr("id", "control_heading_row")

    // Add the control heading column to the control row.
    var control_heading_column = control_heading_row.append("div")
        .attr("class", "col-sm-6")
        .attr("id", "control_heading_column")

    // Add the control heading table to the control heading column.
    var control_heading_table = control_heading_column.append("table")
        .attr("class", "table")
        .attr("id", "control_heading_table")

    // Add heading to the control table.
    var control_thead = control_heading_table.append("thead")
    var control_tr = control_thead.append("tr")
    control_tr.append("th").text("State")
    control_tr.append("th").style("text-align", "center").text("Status")
    control_tr.append("th").style("text-align", "right").text("Votes")

    // Add the control row.  Resizing handled by D3.
    var control_row = body.append("div")
        .attr("class", "row")
        .attr("id", "control_row")

    // Add the control column to the control row.
    var control_column = control_row.append("div")
        .attr("class", "col-sm-6")
        .attr("id", "control_column")
        .attr("style", "color:white; font-family:sans-serif; overflow-y:auto; height:20em; ")

    // Add the control table to the control column.
    var control_table = control_column.append("table")
        .attr("class", "table")
        .attr("id", "control_table")

    // Containers for holding values during the initial load.
    var state_names = []
    var candidate_names = ["clear", "biden", "trump"]
    var control_button_ids = {}
    var votes_by_state = {}
    var control_values = localStorage.getItem("control_values")
    control_values = JSON.parse(control_values)

    // Populate the control table.
    var control_tbody = control_table.append("tbody")
    var features = statesData["features"]
    for (var feature in features) {
        var state_name = features[feature]["properties"]["name"]
        state_names.push(state_name)
        var state_id = state_name.replace(" ", "_")
        var state_id = state_id.replace(" ", "_")
        var state_id = state_id.replace(" ", "_")
        var state_id = state_id.replace(" ", "_")
        var state_id = state_id.replace(" ", "_")
        var state_votes = features[feature]["properties"]["votes"]
        votes_by_state[state_name] = state_votes

        // The buttons will be queried to determine results.
        control_button_ids[state_name] = {}
        control_button_ids[state_name]["clear"] = state_id + "_clear_button"
        control_button_ids[state_name]["biden"] = state_id + "_biden_button"
        control_button_ids[state_name]["trump"] = state_id + "_trump_button"

        // Add row to the control table.
        var control_tr = control_tbody.append("tr")

        // Populate the State column.
        control_tr.append("td").text(state_name)

        // Populate the Status column.
        var radio_buttons_td = control_tr.append("td")
        var radio_buttons_g = radio_buttons_td.append("g")

        // Clear button.
        radio_buttons_g.append("label")
            .attr("class", "radio-inline")
            .attr("for", control_button_ids[state_name]["clear"])
            .text("Clear")
        var clear_button = radio_buttons_g.append("input")
            .attr("id", control_button_ids[state_name]["clear"])
            .attr("name", state_name)
            .attr("type", "radio")

        // Joe Biden button.
        radio_buttons_g.append("label")
            .attr("class", "radio-inline")
            .attr("for", control_button_ids[state_name]["biden"])
            .text("Biden")
        var biden_button = radio_buttons_g.append("input")
            .attr("id", control_button_ids[state_name]["biden"])
            .attr("name", state_name)
            .attr("type", "radio")

        // Trump button.
        radio_buttons_g.append("label")
            .attr("class", "radio-inline")
            .attr("for", control_button_ids[state_name]["trump"])
            .text("Trump")
        var trump_button = radio_buttons_g.append("input")
            .attr("id", control_button_ids[state_name]["trump"])
            .attr("name", state_name)
            .attr("type", "radio")

        // Populate the Votes column.
        control_tr.append("td").style("text-align", "right").text(state_votes);

        // Total the counts for all candidates and set state color.
        control_tbody.selectAll("input")
            .on("click", function (d) {

                // Initialize totals.
                biden_total = 0
                trump_total = 0

                // Examine each button.
                for (var state_name_index in state_names) {
                    for (var candidate_name_index in candidate_names) {

                        // Get the state and candidate names.
                        state_name = state_names[state_name_index]
                        candidate_name = candidate_names[candidate_name_index]

                        // Get the control_button_id using the state and candidate names.
                        try {
                            var id = control_button_ids[state_name][candidate_name]
                            if (false) {
                                console.log(" ")
                                console.log("state_name:", state_name)
                                console.log("candidate_name:", candidate_name)
                                console.log("control_button_id:", id)
                            }
                        } catch (err) {
                            console.log(" ")
                            console.log("click get control_button_id failed:", err.message)
                            console.log("state_name:", state_name)
                            console.log("candidate_name:", candidate_name)
                        }

                        // Determine if the control_button was selected.
                        try {
                            if (document.getElementById(id).checked) {
                                if (false) {
                                    console.log("Button was checked.")
                                }

                                // Increment candidate totals and update state color.
                                var boffo = document.getElementById(state_name)
                                if (false) {
                                    console.log("Found boffo.")
                                }

                                boffo.setAttribute("fill-opacity", "1.0")

                                if (candidate_name == "biden") {
                                    biden_total += votes_by_state[state_name]
                                    boffo.setAttribute("fill", "blue")
                                } else if (candidate_name == "trump") {
                                    trump_total += votes_by_state[state_name]
                                    boffo.setAttribute("fill", "red")
                                } else {
                                    boffo.setAttribute("fill-opacity", "0.0")
                                }

                                // Update control_values.
                                control_values[state_name] = candidate_name
                            }
                        } catch (err) {
                            console.log(" ")
                            console.log("checked failed:", err.message)
                            console.log("id:", id)
                            console.log("control_tbody_select(id):")
                            console.log(control_tbody.select(id))
                        }
                    }
                }
                // Display candidate totals in the results table.
                document.getElementById("results_table").rows[1].cells[0].innerHTML = biden_total
                document.getElementById("results_table").rows[1].cells[1].innerHTML = trump_total
                document.getElementById("results_table").rows[1].cells[2].innerHTML = biden_total + trump_total
                document.getElementById("results_table").rows[1].cells[2].textAlign = "right"

                // Update local storage.
                localStorage.removeItem("control_values")
                localStorage.setItem("control_values", JSON.stringify(control_values))

            }   // End of click function.      
            );      // End of click event.
    }           // End of for loop on features.

    // Add column for congressional districts headings to the control heading row.
    var congressional_districts_heading_column = control_heading_row.append("div")
        .attr("class", "col-sm-6")
        .attr("id", "congressional_districts_heading_column")

    // Add a table for the congressional districts headings.
    var congressional_districts_heading_table = congressional_districts_heading_column.append("table")
        .attr("class", "table")
        .attr("id", "congressional_districts_heading_table")

    // Add thead to the table for congressional districts headings.
    var congressional_districts_heading_row = congressional_districts_heading_table.append("thead")
        .append("tr")

    // Add headings for the congressional districts.
    congressional_districts_heading_row.append("th").text("Congressional Districts")

    // Add congressional districts column to the results row.
    var districts_column = control_row.append("div")
        .attr("class", "col-sm-6")
        .attr("id", "district_column")

    // Add the congressional districts table.
    var districts_table = districts_column.append("table")
        .attr("class", "table")
        .attr("id", "districts_table")

    // Add tbody to the congressional districts table.
    var districts_tbody = districts_table.append("tbody")

    // The id of the rectangles will be the name value, not the id balue.
    var districts = []
    districts.push({ "id": "Maine_Congressional_District_1", "name": "Maine Congressional District 1" })
    districts.push({ "id": "Maine_Congressional_District_2", "name": "Maine Congressional District 2" })
    districts.push({ "id": "Nebraska_Congressional_District_1", "name": "Nebraska Congressional District 1" })
    districts.push({ "id": "Nebraska_Congressional_District_2", "name": "Nebraska Congressional District 2" })
    districts.push({ "id": "Nebraska_Congressional_District_3", "name": "Nebraska Congressional District 3" })

    // Add rectangles for the congressional districts.
    districts_tbody.selectAll("tr")
        .data(districts)
        .enter()
        .append("tr")
        .append("td")
        .append("svg")
        .attr("width", 25)
        .attr("height", 25)
        .append("rect")
        .attr("id", (d) => { return d.name; })
        .attr("y", 7)
        .attr("width", 18)
        .attr("height", 18)
        .attr("rx", 1)
        .attr("fill-opacity", "0.0")
        .attr("stroke", "darkgrey")
        .attr("stroke-width", 3)

    // Add the names of the congressional districts next to the rectangles.
    districts_tbody.selectAll("td")
        .data(districts)
        .append("text")
        .text((d) => { return d.name; })

    // Recreate the map row with the resized svg.
    create_map()

    // Only called in the creation of the map.
    function color_states() {

        // Get the control values from the previous session.
        var control_values = localStorage.getItem("control_values")

        // Set default values there are no control values from a previous session.
        if (control_values == null) {
            control_values = {}
            control_values["Alabama"] = "trump"
            control_values["Alaska"] = "trump"
            control_values["Arizona"] = "trump"
            control_values["Arkansas"] = "trump"
            control_values["California"] = "biden"
            control_values["Colorado"] = "trump"
            control_values["Connecticut"] = "biden"
            control_values["Delaware"] = "biden"
            control_values["Florida"] = "trump"
            control_values["Georgia"] = "trump"
            control_values["Hawaii"] = "biden"
            control_values["Idaho"] = "trump"
            control_values["Illinois"] = "biden"
            control_values["Indiana"] = "trump"
            control_values["Iowa"] = "trump"
            control_values["Kansas"] = "trump"
            control_values["Kentucky"] = "trump"
            control_values["Louisiana"] = "trump"
            control_values["Maine"] = "biden"
            control_values["Maine Congressional District 1"] = "biden"
            control_values["Maine Congressional District 2"] = "biden"
            control_values["Maryland"] = "biden"
            control_values["Massachusetts"] = "biden"
            control_values["Michigan"] = "biden"
            control_values["Minnesota"] = "biden"
            control_values["Mississippi"] = "trump"
            control_values["Missouri"] = "trump"
            control_values["Montana"] = "trump"
            control_values["Nebraska"] = "trump"
            control_values["Nebraska Congressional District 1"] = "trump"
            control_values["Nebraska Congressional District 2"] = "trump"
            control_values["Nebraska Congressional District 3"] = "trump"
            control_values["Nevada"] = "trump"
            control_values["New Hampshire"] = "biden"
            control_values["New Jersey"] = "biden"
            control_values["New Mexico"] = "biden"
            control_values["New York"] = "biden"
            control_values["North Carolina"] = "trump"
            control_values["North Dakota"] = "trump"
            control_values["Ohio"] = "biden"
            control_values["Oklahoma"] = "trump"
            control_values["Oregon"] = "biden"
            control_values["Pennsylvania"] = "biden"
            control_values["Rhode Island"] = "biden"
            control_values["South Carolina"] = "trump"
            control_values["South Dakota"] = "trump"
            control_values["Tennessee"] = "trump"
            control_values["Texas"] = "trump"
            control_values["Utah"] = "trump"
            control_values["Vermont"] = "biden"
            control_values["Virginia"] = "trump"
            control_values["Washington"] = "biden"
            control_values["West Virginia"] = "trump"
            control_values["Wisconsin"] = "biden"
            control_values["Wyoming"] = "trump"
            control_values["District of Columbia"] = "biden"

            localStorage.setItem("control_values", JSON.stringify(control_values))
        } else {
            control_values = JSON.parse(control_values)
        }

        // Update button selections from local storage.
        biden_total = 0
        trump_total = 0
        for (var state_name in control_values) {

            // Click on the corresponding button.
            // The button may not exist during initial load.
            // Get the candidate name from the control values.
            var candidate_name = control_values[state_name]

            // Get the button id based on state and candidate names.
            var button_id = control_button_ids[state_name][candidate_name]

            // This button is checked since the candidate was specified in the control values.
            document.getElementById(button_id).checked = true

            // Deprecate
            // var button = document.getElementById(button_id)

            // Boffo is the state.
            try {
                var boffo = document.getElementById(state_name)
            } catch (err) {
                console.log(" ")
                console.log("boffo failed:", err.message)
                console.log("state_name:", state_name)
            }

            // Set the opacity of the state.
            try {
                boffo.setAttribute("fill-opacity", "1.0")
            } catch (err) {
                console.log(" ")
                console.log("boffo.setAttribute failed:", err.message)
                console.log("state_name:", state_name)
            }

            // Set the state color and total the candidate based on control values.
            try {
                if (candidate_name == "biden") {
                    biden_total += votes_by_state[state_name]
                    boffo.setAttribute("fill", "blue")

                } else if (candidate_name == "trump") {
                    trump_total += votes_by_state[state_name]
                    boffo.setAttribute("fill", "red")
                } else {
                    boffo.setAttribute("fill-opacity", "0.0")
                }
            } catch (err) {
                console.log(" ")
                console.log("boffo fill failed:", err.message)
            }
        }

        // Update the results table.
        document.getElementById("results_table").rows[1].cells[0].innerHTML = biden_total
        document.getElementById("results_table").rows[1].cells[1].innerHTML = trump_total
        document.getElementById("results_table").rows[1].cells[2].innerHTML = biden_total + trump_total
        document.getElementById("results_table").rows[1].cells[2].textAlign = "right"

    }
</script>
{% endblock %}