<!DOCTYPE html>

{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}Monopoly{% endblock %}

{% block body %}
{{ super() }}

<script>window.name = "Monopoly"</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h4>Monopoly</h4>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a href="./monopoly_games" target="_blank">Monopoly Games</a>
                        </td>
                        <td>
                            Multiple-player game over the Internet.</br>
                            Flask and D3 technology stack.
                            <!--    When clicking "Monopoly Games" link on the index.html, the monopoly_games.html page is rendered by the server.
                                    When the "Start" button is pressed, the monopoly.html is rendered for that player and the server is updated.
                                    When the monopoly.html is rendered, the main.js is executed and the board is rendered.
                            -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}