<!DOCTYPE html>

{% extends "base.html" %}

{% block head %}
{{ super() }}


<script src="https://d3js.org/d3.v6.min.js" charset="utf-8"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}

{% block title %}Library of Congress{% endblock %}

{% block body %}
{{ super() }}
<script>

    // Get data from the "search" feature of the Library of congress
    function library_of_congress(q) {

        var xmlhttp = new XMLHttpRequest()
        url = "/library_of_congress?q=" + q

        // Build the SVG when a valid response is returned.
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {

                // Convert json response text to a response dictionary.
                books = JSON.parse(this.responseText)
                console.log(" ")
                console.log("typeof(books):", typeof (books))
                console.log(" ")
                console.log("books:")
                console.log(books)

                book_tbody.selectAll("tr").remove()

                if (books.length == 0) {
                    book_tbody.selectAll("tr").remove()
                    book_tbody.append("tr").append("td").text("Sorry.  Nothing found.")
                } else {

                    book_tbody.selectAll("tr")
                        .data(books)
                        .enter()
                        .append("tr")
                        .append("td")
                        .html((d) => {
                            s = "<a href="
                            s += d["id"]
                            s += ' target="_blank">'
                            s += d["title"]
                            s += "</a>"
                            return s
                        })
                }
            }
        };

        // Send the request and wait for the valid response.
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
        book_tbody.selectAll("tr").remove()
        book_tbody.append("tr").append("td").text("searching . . .")

    }


    // Build DOM using D3.
    var body = d3.select("body")
    // body.attr("onresize", "search_button.click()")

    var container = body.append("div")
        .attr("class", "container-fluid")

    var input_row = container.append("div")
        .attr("class", "row")
        .attr("id", "input_row")

    var input_column = input_row.append("div")
        .attr("class", "col-sm-6")
        .attr("id", "input_column")

    // Input text
    input_column.append("label")
        .attr("for", "input_text")
        .text("Search Criteria  ")

    var input_text = input_column.append("input")
        .attr("type", "text")
        .attr("id", "input_text")
        .attr("value", "Harry Potter")
        .attr("size", 40)
        .attr("style", "background-color:black; border:3px solid white; margin:5px; ")

    var input_button = input_column.append("input")
        .attr("type", "button")
        .attr("id", "input_button")
        .attr("size", 10)
        .attr("style", "background-color:blue")
        .attr("value", "Search")
        .on('click', () => {
            q = document.getElementById("input_text").value
            library_of_congress(q)
        })

    input_row.append("div")
        .attr("class", "col-sm-6")

    var table_row = container.append("row")
        .attr("class", "row")
        .attr("id", "table_row")

    var table_column = table_row.append("div")
        .attr("class", "col-sm-6")

    var book_table = table_column.append("table")
        .attr("class", "table")
        .attr("id", "book_table")

    var book_thead = book_table.append("thead")

    book_thead.append("tr").append("th").text("Books")

    var book_tbody = book_table.append("tbody")
        .attr("id", "book_tbody")






</script>
{% endblock %}