<!DOCTYPE html>

{% extends "base.html" %}

{% block head %}
{{ super() }}

<!-- Data Driven Documents -->
<script src="https://d3js.org/d3.v6.min.js" charset="utf-8"></script>

<!-- Leaflet.js -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

<meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}

{% block title %}sandbox{% endblock %}

{% block body %}
{{ super() }}

<script src="../static/js/us-states.js"></script>

<script>

    function create_map() {

        // Get the window dimensions so the map can be sized.
        var w = window.innerWidth.toString()
        var h = (window.innerHeight * 0.70).toString()

        // Remove the existing map row.
        var map_row = map_container.select("#map_row")
        if (map_row != null) {
            map_row.remove()
        }

        // Add the new map row with the new dimensions.
        var map_row = map_container.append("div")
            .attr("class", "row")
            .attr("id", "map_row")
            .style("width", w + "px")
            .style("height", h + "px")

        // Specify map parameters.
        var mapboxAccessToken = 'pk.eyJ1IjoicGh1bXBocmkiLCJhIjoiY2tnNGJ1NHBsMGRoNDMxcXNhemJieGdxeSJ9.FKo4lgDkbphPAFdxMK3Kog'
        var map = L.map('map_row').setView([37.8, -96], 4);

        // Load the tiles into the map.
        // L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=' + mapboxAccessToken, {
        //     id: 'mapbox/light-v9',
        //     // attribution: ...,
        //     tileSize: 512,
        //     zoomOffset: -1
        // }).addTo(map);

        // Load the states to the map.
        var geo_json_layer = L.geoJson(statesData).addTo(map);

        // Add IDs to each of the svg paths.
        geo_json_layer.eachLayer(function (layer) {
            layer._path.id = layer.feature.properties.name
            console.log(" ")
            console.log(layer.feature.properties.name)
            console.log(layer.getCenter())
        });

        var svg = map_container.select("svg")
            .style("background-color", "black")

        svg.selectAll("path")
            .attr("fill-opacity", "0.0")
            .attr("stroke", "lightgrey")

        // d3.polygonCentroid(polygon)

        L.geoJson(statesData, {
            onEachFeature: function (feature, layer) {
                var label = L.marker(layer.getBounds().getCenter(), {
                    icon: L.divIcon({
                        className: 'label',
                        html: feature.properties.name,
                        iconSize: [100, 40]
                    })
                }).addTo(map);
            }
        });

    }

    // Recreate the map when the window is resized.
    var body = d3.select("body")
        .attr("onresize", "create_map()")

    // The map row is added and removed in the map container.
    var map_container = body.append("div")
        .attr("class", "container-fluid")
        .attr("id", "map_container")

    create_map()

    // The sizing of the controls is handled by D3.
    var control_row = body.append("div")
        .attr("class", "row")
        .attr("id", "control_row")

    var control_paragraph = control_row.append("p")
        .attr("id", "control_paragraph")
        .text("Control Paragraph")


</script>
{% endblock %}